.container-page {
	padding-top:5vw;
}

.container-page__header {
    @include flexbox;
    @include justify-content(center);
}

.container-page__header__text {
    position: fixed;
    transform-origin: center;
    transform: translate(-50%, 20px);
    font-family: "Roboto", "Arial", sans-serif;
    color: rgba(62,171,163,0.7);
    text-shadow: -0.1rem 0.1rem 0 #dcf2f1;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 7vw;
    letter-spacing: 2vw;
    white-space: nowrap;
    cursor:pointer;
    text-decoration: none;
    //z-index:-1;
    &:hover {
    	color: rgba(62,171,163,0.7);
    	text-decoration: none;
    }

}

.pagination {
	@include flexbox;
	@include justify-content(space-between);

	&--flex-end {
		@include flexbox;
		@include justify-content(flex-end);
	}
}

%pagination__link {
	@include post;
	padding-top: 1vw;
	padding-bottom: 1vw;

}

.pagination__link--next {
	@extend %pagination__link;
}

.pagination__link--prev {
	@extend %pagination__link;
}
