body {
    color: #24303c;
    background-color: #a4deda;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
}

a {
	color: inherit;
	font-weight:500;
	text-decoration:none;
	transition: color 500ms;
	&:hover {
		text-decoration:none;
		color: #9B2DE9;
	}
	&:focus {
		text-decoration: none;
	}
}

@mixin post {
	padding-top:2.5vw;
	padding-right: 4vw;
	padding-bottom: 2vw;
	padding-left: 2.5vw;
	margin-bottom: 30px;
	background-color: rgba(252,252,245,0.8);
	box-shadow: -0.8vw 0.8vw 0 0 rgba(62,171,163,0.7);
	z-index:100;
	@content;
}

@mixin unordered-list {
	list-style: none;
	@include bp(sm) {
		padding-left: 0;
	}
}

@mixin unordered-list-item {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	border-bottom: 2px solid #A4DEDA;
	@content;
}

@mixin tag {
	background-color: #EBE79D;
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	padding-right: 7px;
	margin-right: 7px;
	margin-top: 3px;
	margin-bottom:3px;
	@content;
}
