.sidebar {
	@include post;
	padding-top:1vw;
    padding-right: 2.5vw;
}

.sidebar__categories {
	@include unordered-list;
	padding-left:0
}

.sidebar__categories__item {
	@include unordered-list-item;
}

.sidebar__categories__item__tag-container {
	@include unordered-list-item;
	padding-top:0;
	padding-bottom:0;
	padding-left:0;
	border-bottom:none;
}

.sidebar__categories__item__tag {
	@include tag;
}

.sidebar__form {
	@extend .clearfix;
}

.sidebar__form__input-search {
	width:100%;
    background: rgba(252,252,245,0.5);
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #a4deda;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 1.6;
}

.sidebar__form__input-submit {
	width:30%;
	float:left;
}
